
<li id="azhar-step" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Azhar Step'" data-role="title"></div>
    <div id="checkout-step-title" class="step-content" data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">

            <div class="field" name="azhar.azhar-field">

                <label class="label" for="azhar-field">
                    <span>Upload File</span>
                </label>

                <div class="control">
                    <input class="input-text" type="file" data-bind="value: form.azharField,
                        valueUpdate: 'keyup'" name="azhar-field" placeholder="Enter something" id="azhar-field">
                </div>
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span>submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>