<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="adorncommerce_callforprice_callforprice_listing_data_source" xsi:type="string">Adorncommerce\CallForPrice\Model\ResourceModel\CallForPrice\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AdorncommerceCallForPriceDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Adorncommerce\CallForPrice\Model\ResourceModel\CallForPrice\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AdorncommerceCallForPriceDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Adorncommerce\CallForPrice\Model\ResourceModel\CallForPrice\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">callforprice_request</argument>
            <argument name="resourceModel" xsi:type="string">Adorncommerce\CallForPrice\Model\ResourceModel\CallForPrice</argument>
        </arguments>
    </virtualType>
</config>