<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Revered\Pencil\Api\PencilInterface" 
                type="Revered\Pencil\Model\Pencil" />
    
     <preference for="Revered\Pencil\Api\Color" 
                type="Revered\Pencil\Model\Green" />

    <preference for="Revered\Pencil\Api\Size" 
                type="Revered\Pencil\Model\Big" />

    </config>